<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="image_folder">/home/pasquale/ppm/images</entry>
	<entry key="flavours_folder">/home/pasquale/ppm/flavours</entry>
	<entry key="server_port">8123</entry>
</properties>