<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<entry key="network_name">ovs-network</entry>
	<entry key="bridge_name">br0</entry>
	<entry key="network_interface_prefix">vpm</entry>
	<entry key="vpm_vlan_id">2</entry>
	<entry key="ovs_manager_port">6640</entry>
	
	<entry key="overlay_network">10.0.0.0</entry>
	<entry key="overlay_network_broadcast">10.0.0.5</entry>	
	
	<!-- tresholds -->
	<entry key="warning_treshold">60.0</entry>
	<entry key="danger_treshold">90.0</entry>
	
	<entry key="path_manager_class">it.unina.cini.platino.web.network.path.backend.DefaultVPMPathManager</entry>
	<entry key="path_plugin_web_frontend">match_edit.html</entry>
	<entry key="path_plugin_web_frontend_title">Match Rules</entry>
	
</properties>